#foto 
{
    height: 25%;
    width: 25%;
    /* max-width: 100%; */
    /* border-radius: 50%; */
}

.altura 
{
    height: 610px;
}

.espaco-nome
{
    padding-top: 20%;
}

.foto-espaco
{
    padding-top: 10%;
}

.jumbotron 
{
    margin-bottom: 0px;
}

.fonte-geral 
{
    font-family: 'comfortaa';
}

.icones
{
    padding-left: 20px;
}

.texto-preto
{
    color:black;
}

.espaco
{
    padding-left: 80px;
}

.logo
{
    /* padrao do logo
    width: 330px ;
    height: 160px ;  lembrar de redimencionar o logo */

    width: 188px ;
    height: 80px ;
}

.cor-nav-bar
{
    background-color: #fff;
}

.nome-espaco-sobre
{
    padding-top: 45px;
}

.foto-perfil
{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

/* ------------- cores de fundo -------------- */

.cor-intro
{
    background-color: #6528a6;
}

.cor-sobremim
{
    background-color: #984843;
}

.cor-myskills
{
    background-color: #EAC67A;
}

.cor-projeto
{
    background-color: #233237;
}

.cor-contato
{
    background-color: #18121E;
}

/* começa a formatação do my skills */

.skills-bar
{
    width: 800px;
    background-color: #fff;
    border-radius: 10px;
    padding: 25px 30px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0,2);
}

.skills-bar .bar
{
    margin: 20px 0;
}

.skills-bar .bar:first-child
{
    margin-top: 0px;
}

.skills-bar .bar .info
{
    margin-bottom: 5px;
}

.skills-bar .bar .info span
{
    font-size: 17px;
    font-weight: 500;
}

.skills-bar .bar .progress-line
{
    position: relative;
    height: 10px;
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: inset 0px 1px rgba(0,0,0,0,05),
                              rgba(255,255,255,0,8);
}

.bar .progress-line span
{
    height: 100%;
    width: 80%;
    background-color: #6665ee;
    position:absolute;
    border-radius: 10px;
}

.bar .progress-line.html span
{
    width: 95%;
}

.bar .progress-line.css span
{
    width: 85%;
}

.bar .progress-line.javascript span
{
    width: 30%;
}

.bar .progress-line.bootstrap span
{
    width: 60%;
}

.bar .progress-line.vue span
{
    width: 50%;
}

.bar .progress-line.python span
{
    width: 60%;
}

.bar .progress-line span::before
{
    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
}

.bar .progress-line span::after
{
    position: absolute;
    right: 0;
    top: -28px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    background: #000;
    padding: 1px 8px ;
    border-radius: 3px;
}

.bar .progress-line.html span::after
{
    content: "95%";
}

.bar .progress-line.css span::after
{
    content: "85%";
}

.bar .progress-line.javascript span::after
{
    content: "30%";
}

.bar .progress-line.bootstrap span::after
{
    content: "60%";
}

.bar .progress-line.vue span::after
{
    content: "50%";
}

.bar .progress-line.python span::after
{
    content: "60%";
}



